.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
.center{
    margin: auto;
    text-align: center;
}
h1{
    font-size: 4em;
    margin: 0;
    color: #111;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
.blue{
    background-color: #FFE6E6;
}
body{
    margin: 0;
}
div{
    height: auto;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
p{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    margin: 0%;
    color: #111;
}
.content{
    margin-left: 30%;
    margin-right: 30%;
}
.table{
    width: 100%;
}
input{
    transition-duration: 0.4s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    margin: 0;
    background-color: #E1AFD1;
    border-color: transparent;
    border-radius: 0.5em;
}
input:hover, input:focus{
    background-color: #AD88C6;
}
textarea{
    transition-duration: 0.4s;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    resize: none;
    width: 100%;
    min-height: 8em;
    margin: 0;
    background-color: #E1AFD1;
    border-color: transparent;
    border-radius: 0.5em;
}
textarea:hover, textarea:focus{
    background-color: #AD88C6;
}
button{
    transition-duration: 0.4s;
    color: #111;
    background-color: #AD88C6;
    border-color: transparent;
    stroke: none;
    border-radius: 2em;
    padding: 1em 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.black{
    background-color: #333333;
}
.times-new-roman{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 1em;
}
button:hover{
    background-color: #7469B6;
    color: white;
}
a{
    color: #c6d3e3;
    text-decoration: none;
    transition-duration: 0.4s;
}
a:hover{
    color: #98bad5;
}
.paddington{
    padding-bottom: 0;
}
.dataframe{
    margin-left: auto;
    margin-right: auto;
}
.pad-bottom{
    padding-bottom: 4em;
}
.pad-top{
    padding-top: 4em;
}
.white{
    background-color: #FFE6E6;
}